body {
    margin: 0;
    padding: 0;
    max-width: 600px;
    font-family: 'Smythe', cursive;
} 

header {
    background-image: url("burger.jpg");
    color: white;
    font-weight: #FFFFFF;  
    padding-top: 15px;
    padding-left: 46px;
    padding-bottom: 30px;
    max-height: 159px;
    background-position: center 70%;
    }
    
header p {
    font-size: 22.4px;
    line-height: 13.8px;
}   

header h2 {
    font-size: 39px;
    line-height: 24px;  
} 

button {
    color: #3C3C3C;
    border-radius: 50%;
    border: 1px solid #DEDEDE;
    background: #FFFFFF;
    width: 50px;
    height: 50px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 32px;
    line-height: 24px;
}

input {
    display: block;
    margin: auto;
    margin-bottom: 23px;
    height: 71px;
    color: #757575;
    text-align: left;
    font-size: 20px;
    padding-left: 27px;
    border: solid 1px#757575;
    border-radius: 3px;
    width: 440px;
}
.add-btn    {
    display: flex;
    margin-left: auto;
    margin-right: 0;
    margin-top: 25px;

}

.meals-container {
    display: flex;
    margin-left: 43px;
    margin-top: 45px;
    margin-right: 46px;
    border-bottom: 2px #D2D2D2 solid;
    width: 508px;

}

.button-div {
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 82px;
    align-items: center;
    
}

.meals-container p {
    margin-top: 0;    


}

.meal-info-div {
    /* border: 1px solid green; */
    margin-left: 31px;
    padding-top: 15px;
    
}


.emoji-div {
    font-size: 79px;
    opacity: 72%;
    padding-top: 15px;
}

.name   {
    font-size: 26px;
    color: #000000;
    line-height: 17px;
    padding-top: 15px;
    margin-bottom: 9px;

}

.ingredients    {
    font-size: 16px;
    color: #8B8B8B;
    margin-top: 9px;
    margin-bottom: 8px;
    line-height: 24px;
    margin-bottom: 8px;

}

.price {
    font-size: 20px;
    color: #000000;
    line-height: 24px;
    margin-bottom: 51px;
}

/* Order confirmation */
.order-header {
    font-size: 28px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 64px;
    margin-left: 46px;
    width: 508px;

}

.order-detail-container {
    font-size: 28px;
    margin-left: 46px;
    width: 508px;
    display: flex;
    color: #000000;
}

.order-detail-container p {
    margin-top: 0;
    margin-bottom: 22px;
}

.remove-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: #BBBBBB;
    display: flex;
    align-items: center;
    margin-left: 10px;
    line-height: 20px;
}

.order-price {
    font-size: 24px;
    margin-left: 10px;
    margin: auto 0px auto auto;
}

.total-cost {
    font-size: 28px;
    margin-left: 46px;
    display: flex;
    color: #000000;
    justify-content: space-between;
    margin-right: 46px;
    border-top: 2px solid #393333;
    width: 508px;
}

/* complete order button */

.confirm-btn {
    background-color: #16DB99;
    color: #FFFFFF;
    width: 508px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 46px;
    height: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 3px;
}

.payment-btn {
    background-color: #16DB99;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 71px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: auto;
    border: 1px solid #16DB99;
    margin-top: 46px;
    border-radius: 3px;
    max-width: 470px;
}



.payment-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 524px;
    height: 542px;
    text-align: center;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 700;
    background: white;
    filter: drop-shadow(5.18654px 5.18654px 255.437px rgba(0, 0, 0, 0.5));
}

.payment-details {
    margin-top: 47px;
    margin-bottom: 46px;
}
.thank-you {
    display: flex;
    width: 504px;
    height: 120px;
    background-color: #ECFDF5;
    margin: auto;
    margin-top: 45px;
    color: #065F46;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Smythe';
    font-weight: 400;
    border-radius: 3px;   
}

/* Utility Classes */
.hidden {
    display: none;
}